Students/.gradle
Students/.settings
Teacher/.gradle
Teacher/.settings
Eureka/.gradle
Eureka/.settings
Zuul/.gradle
Zuul/.settings
Consul/.gradle
Consul/.settings
Consul/
descriptionDuTest.docx
.classpath
.project